{view name="Base/header"}

<div class="touch_bg">&nbsp;</div>
<!-- E touch-top-wrapper -->
<div class="blank_h">&nbsp;</div>

<style>
    .category_list {
        width: 95%;
        height: auto;
        margin: 20px auto 0px auto;
    }
    .category_list ul {
        text-align: center;
    }
    .category_list li {
        display: inline-block;
        line-height: 25px;
        border: 1px solid #5a342b;
        padding: 3px 8px;
        margin: 2px 3px 5px 0px;
        background: #ffffff;
    }
    .category_list li a {
        display: block;
        width: 100%;
        height: 100%;
    }
</style>

<div class="category_list">
    <ul>
        {loop $categorys as $value}
        <li><a href="{:u('search', [$keywords, $value])}" {if $category_id==$value}class="active"{/if}>{catename id="$value"}</a></li>
        {/loop}
    </ul>
</div>

<div class="product_ul anim anim-1">
    {empty name="$lists"}
        <p style="display: block; width: 100%;text-align: center; margin: 20px auto 50px auto;">在此分类下没有结果，您可以尝试切换分类</p>
    {else /}
        <ul>
            {loop $lists as $value}
            <li>
                <dd><a href="{:u('detail', [$value['category_id'], $value['id']])}" target="_blank">
                    <div class="imgs"><img src="{:\Manage\Helper::getFile($value['cover'])['path']}" alt="">
                        <p>&nbsp;</p></div>
                    <h2>{$value['title']}</h2></a>
                </dd>
            </li>
            {/loop}
        </ul>
    {/empty}
</div>

<!--正文end-->
{view name="Base/footer"}