
<!--尾部begin-->
<div class="foot_bg">
    <div class="foot_con">
        <div class="foot_con_l">
            <img src="/Resource/Home/picture/logo2.png" class="foot_con_logo"/>
            <div class="foot_con_a">
                {nav pid="0" name="$footerNav"}
                    <a href="{$footerNav['url']}">{$footerNav['name']}</a>&nbsp;｜&nbsp;
                {/nav}
            </div>
        </div>
        <div class="foot_con_r">
            <img src="/Resource/Home/picture/weixin.jpg"/>
            <ul>
                <li><a href="tel:{config name="USER_TEL"}" class="tel">{config name="USER_TEL"}</a></li>
                <li><a href="mailto:{config name="USER_EMAIL"}" class="email">{config name="USER_EMAIL"}</a></li>
                <li>{config name="SITE_TITLE"} All rights reserved</li>
            </ul>
        </div>
        <div class="c_l"></div>
    </div>
    <div class="foot_bg2">
        <div class="foot_con2">
            技术支持：<a style="font-family:'Microsoft Yahei';" href="http://www.myxxwl.com/" target="_blank">兴信网络</a>
            <div class="footer_fx_r">
                <ul>
                    <li class="foot_weixin"><a href="javascript:void(0)"><div class="ewm"><img src="/Resource/Home/picture/weixin.jpg"></div></a></li>
                    <!--<li class="foot_qq"><a href="#">&nbsp;</a></li>
                    <li class="foot_weibo"><a href="javascript:void(0)" class="jiathis_button_tqq">&nbsp;</a></li>
                    <li class="foot_sinna"><a href="javascript:void(0)" class="jiathis_button_tsina">&nbsp;</a></li>-->

                </ul>
            </div>
            <script type="text/javascript" src="/Resource/Home/js/jia.js" charset="utf-8"></script>
            <style>
                .jiathis_style .jtico_tqq {
                    background-position: -80px -64px;
                }

                .jiathis_style .jtico_tsina {
                    background-position: -80px -64px;
                }
            </style>

            <!--<span class="r">分享到：</span>-->
        </div>
    </div>
</div>
<a href="javascript:void(0)" class="gotop" onClick="goTop()"></a>
<!--尾部end-->
<script language="javascript" src="/Resource/Home/js/foot.js"></script>
<!--弹窗begin-->
<div class="case_bgs">&nbsp;</div>
<div class="case_tc">
    <div class="case_divs">
        <img src="/Resource/Home/picture/close.png" class="closed"/>
        <img src="/Resource/Home/picture/i_pro_img1.jpg" alt="" id="tc_big"/>

        <div class="case_txt">
            <h2>标题标题</h2>

            <p>
                内容内容内容内容内容内容内容内容内容内容<br/>
                内容内容内容内容内容内容内容内容内容内容内容内容
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.doSearch').click(function () {
        var keywords = $("input[name='keywords']").val();
        if (!keywords) {
            alert('请输入关键词');
            return false;
        }
        window.location.href = '/search/' + keywords;
    });
    $(".closed").click(function () {
        $(".case_tc").animate({height: "0", top: "270px"});
        $(".case_bgs").fadeOut();
        $(".case_tc").fadeOut();

    })
    $("#owl-demo .item").click(function () {
        $(".case_txt").find("h2").html($(this).find("h4").html());
        $(".case_txt").find("p").html($(this).find("p").html());
        $("#tc_big").attr("src", $(this).find("img").attr("src"))
        $(".case_bgs").fadeIn();
        $(".case_tc").fadeIn();
        $(".case_tc").animate({
            height: $(".case_tc").find("#tc_big").height() + $(".case_txt").height() + 50,
            top: $("#owl-demo").offset().top
        });


    })
</script>
<!--弹窗end-->
</body>
</html>