{view name="Base/header"}

<div class="touch_bg">&nbsp;</div>
<!-- E touch-top-wrapper -->
<div class="blank_h">&nbsp;</div>
<!--轮显begin-->
<div id="a1portalSkin_ctr211899211899_mainArea" class="module-content"><!-- Start_Module_211899 --><!-- S slideshow -->
    <div class="slideshow carousel clearfix" style="height:750px; overflow:hidden;">
        <div id="carousel-211899">
            <!--list:category,name,row,child-->
            {list category="index_banner" name="$banner" row="false" child="false"}
            <div class="carousel-item">
                <div class="carousel-img"><a href="{$banner['url']}" {if $banner['new_window']}target="_blank"{/if}><img
                        src="{:\Manage\Helper::getFile($banner['image_id'])['path']}" height="750" alt=""/></a></div>
            </div>
            {/list}
        </div>

        <div class="carousel-btn carousel-btn-fixed" id="carousel-page-211899"></div>
        <div class="carousel-page">
            <div class="carousel-prev" id="carousel-prev-211899"></div>
            <div class="carousel-next" id="carousel-next-211899"></div>
        </div>
    </div>
    <script type="text/javascript">
        $(window).bind("load resize", function () {
            $("#carousel-211899").carouFredSel({
                width: '100%',
                items: {visible: 1},
                auto: {pauseOnHover: true, timeoutDuration: 5000},
                swipe: {onTouch: true, onMouse: true},
                pagination: "#carousel-page-211899",
                prev: {button: "#carousel-prev-211899"},
                next: {button: "#carousel-next-211899"},
                scroll: {fx: "crossfade"}//注释的话就是滚动的
            });
        });
    </script>
    <!-- E slideshow --><!-- End_Module_211899 --></div>
<!--轮显end-->
<!--flash start-->
<div class="flash_div">
    <div class="flash">
        <ul class="ul_flash">
            {list category="m_banner" name="$mbanner" row="false" child="false"}
                <li><a href="{$mbanner['url']}" title="" {if $mbanner['new_window']}target="_blank"{/if}><img src="{:\Manage\Helper::getFile($mbanner['image_id'])['path']}" alt=""></a></li>
            {/list}
        </ul>
    </div>
</div>
<script type="text/javascript" src="/Resource/Home/js/idangerous.swiper-2.0.min.js"></script>
<script type="text/javascript" src="/Resource/Home/js/index.js"></script>
<!--flash end-->
<!--产品中心begin-->
<div class="i_pro_bg2">
    <div class="i_pro_t  anim anim-1">产品与服务</div>
    <div id="owl-demo2" class="owl-carousel anim anim-2">
        {cate category="36" name="$cate"}
            <div class="item">
                <dd class="not-animated"><a href="{:u('lists', [\Home\Helper::getCategory($cate['id'])[0]['name']])}">
                    <div class="imgs"><img src="{:\Manage\Helper::getFile($cate['icon'])['path']}" alt="">
                        <p>&nbsp;</p></div>
                    <h2>{$cate['title']}</h2></a>
                </dd>
            </div>
        {/cate}
    </div>
    <script src="/Resource/Home/js/owl.carousel.js"></script>
    <script>
        $("#owl-demo2").owlCarousel({
            items: 4,
            lazyLoad: true,
            autoPlay: true,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3],
            itemsTablet: [768, 2],
            itemsTabletSmall: false,
            itemsMobile: [479, 2],
            navigation: true
        });
    </script>
</div>
<!--产品中心end-->
<!--工程案例begin-->
<div class="i_pro_t anim anim-1" style="bottom:2%;">工程案例</div>
<div id="owl-demo" class="owl-carousel anim anim-2">
    <!--list:category,name,row,child-->
    {list category="case" name="$value" row="5" child="false"}
        <div class="item">
            <div class="bg-list-img">
                <a href="javascript:void(0)"><img class="lazyOwl" data-src="{:\Manage\Helper::getFile($value['cover'])['path']}" alt=""></a>
            </div>
            <div class="bg-list-tit"><h4>{$value['title']}</h4></div>
            <label class="bg-list-more"></label>

            <div class="i_pro_bg">
                <a href="javascript:void(0)">
                    <div class="bg-list-hs" style=" background:url({:\Manage\Helper::getFile($value['cover_bg'])['path']}) center top no-repeat;">
                        <div class="bg-list-sub-hs">
                            <p>{$value['description']}</p>
                        </div>
                    </div>
                    <div class="bg-list-yew">
                        <h5>{$value['title']}</h5>
                    </div>
                </a>
            </div>
        </div>
    {/list}
</div>
<script>
    $("#owl-demo").owlCarousel({
        items: 5,
        lazyLoad: true,
        itemsDesktop: [1600, 4],
        itemsDesktopSmall: [1279, 3],
        itemsTablet: [768, 2],
        itemsMobile: [479, 2],
        autoPlay: true,
        navigation: true
    });
</script>
<!--工程案例end-->
<!--关于我们begin-->
<div class="i_about">
    <div class="i_about_t anim anim-1">关于我们</div>
    <div class="i_about_con">
        {article category="44" id="1" name="$about"}
        <div class="imgs anim anim-2">
            <img src="{:\Manage\Helper::getFile($about['cover'])['path']}"/>
        </div>
        <div class="i_about_r anim anim-3">
            <div class="i_about_txt">
                <p>
                    {:strip_tags($about['content'])}
                </p>
            </div>
            <a href="{:u('synopsis')}" class="i_about_more">查看更多</a>
        </div>

        <div class="c_l"></div>
    </div>
</div>
<!--关于我们end-->
<!--资讯中心begin-->
<div class="i_news_bg">
    <div class="i_about_t anim anim-1">资讯中心</div>
    <div class="i_news_a anim anim-2">

        <a href="javascript:void(0)" j class="osel">项目动态</a>

        <a href="javascript:void(0)">专业知识</a>

    </div>
    <div class="i_news_con anim anim-3">
        <div class="i_news_div" style="display:block;">
            <!--公司资讯begin-->
            <div id="owl-demo3" class="owl-carousel">
                <div class="item">
                    <dd class="not-animated">
                        <div class="i_news_l">
                            <ul>
                                {list category="news" name="$news" row="3" child="false"}
                                <li>
                                    <a href="{:u('detail', [$news['category_id'], $news['id']])}">
                                        <div class="four_date"><b>{:date('d', $news['create_time'])}</b>{:date('Y-m', $news['create_time'])}</div>
                                        <div class="four_txt">
                                            <h2>{$news['title']}</h2>
                                            <p>{$news['description']}</p>
                                        </div>
                                    </a>
                                </li>
                                {/list}
                            </ul>
                        </div>

                        <a href="{:u('detail', [$___lists[0]['category_id'], $___lists[0]['id']])}">
                            <div class="imgs"><img src="{:\Manage\Helper::getFile($___lists[0]['cover'])['path']}" alt="">

                                <h2><em>{:date('Y-m-d', $___lists[0]['create_time'])}</em>{$___lists[0]['title']}</h2></div>
                        </a></dd>
                </div>

            </div>
            <script>
                $("#owl-demo3").owlCarousel({
                    items: 1,
                    lazyLoad: true,
                    itemsDesktop: [1600, 1],
                    itemsDesktopSmall: [1279, 1],
                    itemsTablet: [768, 1],
                    itemsMobile: [479, 1],
                    autoPlay: true,
                    navigation: true
                });
            </script>
            <!--公司资讯end-->
        </div>
        <div class="i_news_div">
            <!--行业资讯begin-->
            <div id="owl-demo4" class="owl-carousel">
                <div class="item">
                    <dd class="not-animated">
                        <div class="i_news_l">
                            <ul>
                                <!--list:category,name,row,child-->
                                {list category="knowledge" name="$knowledge" row="3" child="false"}
                                <li>
                                    <a href="{:u('detail', [$knowledge['category_id'], $knowledge['id']])}">
                                        <div class="four_date"><b>{:date('d', $knowledge['create_time'])}</b>{:date('Y-m', $knowledge['create_time'])}</div>
                                        <div class="four_txt">
                                            <h2>{$knowledge['title']}</h2>
                                            <p>{$knowledge['description']}</p>
                                        </div>
                                    </a>
                                </li>
                                {/list}
                            </ul>
                        </div>

                        <a href="{:u('detail', [$___lists[0]['category_id'], $___lists[0]['id']])}">
                            <div class="imgs"><img src="{:\Manage\Helper::getFile($___lists[0]['cover'])['path']}" alt="">
                                <h2><em>{:date('Y-m-d', $___lists[0]['create_time'])}</em>{$___lists[0]['title']}</h2></div>
                        </a></dd>
                </div>

            </div>
            <script>
                $("#owl-demo4").owlCarousel({
                    items: 1,
                    lazyLoad: true,
                    itemsDesktop: [1600, 1],
                    itemsDesktopSmall: [1279, 1],
                    itemsTablet: [768, 1],
                    itemsMobile: [479, 1],
                    autoPlay: true,
                    navigation: true
                });
            </script>
            <!--行业资讯end-->
        </div>
    </div>
    <script language="javascript">
        $('.i_news_a a').hover(function () {
            var linum = $(this).index();
            $(this).addClass('osel').siblings().removeClass('osel');
            $('.i_news_con .i_news_div').eq(linum).show().siblings('.i_news_div').hide()
        })
    </script>

</div>
<!--资讯中心end-->
<!--服务中心begin-->
<div class="i_service_bg">
    <div class="i_about_t anim anim-1">合作伙伴</div>
    <em class="anim anim-2">我们珍惜您每一次在线咨询，用专业的态度，贴心的服务，为您分析策划</em>

    <div class="i_youshi anim anim-3">
        <ul>
            {php}$index = 0;$delay=0;{/php}
            {list category="partner" name="$value" row="false" child="false"}
                {php}$index++;$delay++;{/php}
                {if $index%5==0}{php}$delay=1;{/php}{/if}
                {if $index>8}{php}$delay=1;{/php}{/if}
                <li class="fadeInUp animated" data-animate="fadeInUp" data-delay="{$delay*100}"><a href="{$value['url']}"><img src="{:\Manage\Helper::getFile($value['cover'])['path']}"></a></li>
            {/list}
        </ul>
    </div>
    <a href="#" class="i_service_more anim anim-4">在线客服</a>
</div>
<!--服务中心end-->

{view name="Base/footer"}