{view name="Base/header"}

<div class="touch_bg">&nbsp;</div>
<!-- E touch-top-wrapper -->
<div class="blank_h">&nbsp;</div>
<!--正文begin-->
<div class="contact_bg">
    <div class="about_t3  anim anim-1">{$category['title']}</div>
    <div class="contact_con anim anim-2">
        <ul>
            <li><a href="tel:{config name="USER_TEL"}"><img src="/Resource/Home/picture/contact_pic1.png">
                <h2>联系电话</h2>{config name="USER_TEL"}</a></li>
            <li><a href="mailto:{config name="USER_EMAIL"}"><img src="/Resource/Home/picture/contact_pic2.png">
                <h2>邮箱</h2>E-mail:{config name="USER_EMAIL"}</a></li>
            <li><img src="/Resource/Home/picture/contact_pic3.png">
                <p>{config name="USER_ADDRESS"}</p></li>
        </ul>
    </div>
    <div class="contact_map anim anim-3">
        <img src="/Resource/Home/picture/contact_pic4.png">
        高德地图上的我们&nbsp;|&nbsp;Gaode we on the map
    </div>
    <div class="contact_map2 anim anim-4">
        <img src="{config name="COMPANY_MAP"}">
    </div>
</div>
<div class="about_t3  anim anim-5">建议留言</div>
<div class="feedback_div anim anim-6">

    <form actionurl="#" method="post"  onload="init()" id="qiandaoform" onSubmit="return checkform2(this);">
        <div>
            <input class="inputs2" name="name" value="您的姓名：" onFocus="if(value=='您的姓名：'){value=''}" onBlur="if(value==''){value='您的姓名：'}"/>
            <input class="inputs2" name="tel" value="联系电话：" onFocus="if(value=='联系电话：'){value=''}" onBlur="if(value==''){value='联系电话：'}"/>
            <input class="inputs2" name="email" value="联系邮箱：" onFocus="if(value=='联系邮箱：'){value=''}" onBlur="if(value==''){value='联系邮箱：'}"/>
        </div>
        <textarea name="content" cols="" rows="5" class="textarea" onFocus="if(this.value=='留言内容')this.value=''" onBlur="if(this.value=='')this.value='留言内容'">留言内容</textarea>
        <input type="submit" value="提交留言" class="bnts2">
    </form>
    <script language="javascript">
        function checkform2(nForm)
        {
            if(nForm.name.value=="您的姓名：")
            {   alert("请填写您的姓名!");
                nForm.name.focus();
                return false;
            }
            if(nForm.tel.value=="联系方式")
            {
                alert("请填写您的手机号码!");
                nForm.tel.focus();
                return false;
            }
            var teln = nForm.tel.value;
            if(!(/^1[34578]\d{9}$/.test(teln))){
                alert("手机号码有误，请重填");
                nForm.tel.focus();
                return false;
            }
            if(nForm.email.value=="联系邮箱：")
            {   alert("请填写您的邮箱!");
                nForm.email.focus();
                return false;
            }
            $.ajax({
                type:"post",
                url: "{:u('Home/Words')}",
                async:true,
                data:$("#qiandaoform").serialize(),
                dataType: 'json',
                success:function(data){
                    if (data.status == 1) {
                        alert(data.result);
                        window.location.reload();

                    }else{
                        alert(data.result);
                    }
                }
            });
            return false;
        }
        function en_checkform2(nForm)
        {
            if(nForm.name.value=="Your name: ")
            {   alert("Fill in your name, please!");
                nForm.name.focus();
                return false;
            }
            if(nForm.tel.value=="Contact number：")
            {
                alert("Please fill in your Contact number!");
                nForm.tel.focus();
                return false;
            }
            var teln = nForm.tel.value;
            if(!(/^1[34578]\d{9}$/.test(teln))){
                alert("The cell phone number is incorrect. Please fill it in again");
                return false;
            }
            if(nForm.email.value=="Contact mailbox:")
            {   alert("Please fill in your Mailbox!");
                nForm.email.focus();
                return false;
            }
            $.ajax({
                type:"post",
                url:$('#qiandaoform').attr('actionurl'),
                async:true,
                data:$("#qiandaoform").serialize(),
                success:function(data){
                    if (data.status == 1) {
                        alert(data.info);
                        window.location.href=data.url;

                    }else{
                        alert(data.info);
                    }
                }
            });
            return false;
        }
    </script>
</div>
<!--正文end-->
{view name="Base/footer"}