{view name="Base/header"}

<div class="touch_bg">&nbsp;</div>
<!-- E touch-top-wrapper -->
<div class="blank_h">&nbsp;</div>
<!--正文begin-->
<div class="pro_one anim anim-1">
    <div class="pro_one_div">
        <div class="pro_one_t">{$info['title']}</div>
        <div class="pro_one_desc">{$info['description']}</div>
        <img src="{:\Manage\Helper::getFile($info['img_1'])['path']}" class="big_img" id="pro_big"/>
    </div>
</div>
<div class="pro_three anim anim-3" style="">
    <div class="pro_txt">
        <h3 style="border-bottom: 1px solid #b2ca50;width: 73px;">简要说明</h3>
        {$info['explain']}
    </div>
    <div class="pro_txt">
        <h3 style="border-bottom: 1px solid #b2ca50;width: 73px;">产品详情</h3>
        {$info['content']}
    </div>
</div>

<!--正文end-->

{view name="Base/footer"}