{view name="Base/header"}

<div class="touch_bg">&nbsp;</div>
<!-- E touch-top-wrapper -->
<div class="blank_h">&nbsp;</div>
<!--正文begin-->
<div class="o_big"><img src="/Resource/Home/picture/cp-banner.jpg"/></div>
<!--cate:category,name-->
<style>
    .top_category {
        text-align: center;
        overflow: hidden;
        width: 96%;
        max-width: 1190px;
        margin: 0 auto;
        margin-top: 2%;
    }
    .top_category li {
        display: inline-block;
        margin-bottom: 10px;
    }
    .top_category li a {
        display: block;
        width: auto;
        height: 100%;
        border: 1px solid #0b96e5;
        border-radius: 15px;
        margin: 0px 3px;
        padding: 8px 10px;
    }
    .top_category li a:hover {
        color: #c5cec5;
    }
    .category_active {
        color: #ffffff;
        background: #0b96e5;
    }
</style>
<div class="top_category">
    <ul>
        {cate category="$category['pid']" name="$cates"}
            <li><a {if $category['id']==$cates['id']}class="category_active"{/if} href="{:u('lists', [$cates['name']])}">{$cates['title']}</a></li>
        {/cate}
    </ul>
</div>
<div class="product_ul anim anim-1">
    <ul>
        {loop $lists as $value}
        <li>
            <dd><a href="{:u('detail', [$category['name'], $value['id']])}">
                <div class="imgs"><img src="{:\Manage\Helper::getFile($value['cover'])['path']}" alt="">
                    <p>&nbsp;</p></div>
                <h2>{$value['title']}</h2></a>
            </dd>
        </li>
        {/loop}
    </ul>
</div>
<div class="pages yema">
    {$page}
</div>

<!--正文end-->
{view name="Base/footer"}