{view name="Base/header"}
<div class="touch_bg">&nbsp;</div>
<!-- E touch-top-wrapper -->
<div class="blank_h">&nbsp;</div>
<!--正文begin-->
<div class="job_bg" style="background: url(/Resourcec/Home/images/5927fb358d351.png) right top no-repeat;">
    <div class="about_t3  anim anim-1">{$category['title']}</div>
    <div class="wrap anim anim-2">
        <div class="job_list">
            <ul>
                {loop $lists as $value}
                    <li {if $i==1}class="hauto"{/if}>
                        <table width="100%" border="0" cellspacing="1" cellpadding="0">
                            <tbody>
                            <tr>
                                <td width="33%" style="padding-left:2%; text-align:left;">{$value['job_name']}</td>
                                <td width="25%">{$value['education']}</td>
                                <td width="10%">{$value['number']}人</td>
                                <td width="25%">{if $value['job_type']}全职{else /}兼职{/if}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="padding-left:2%; text-align:left;" class="job_con">
                                    <p>月薪	{$value['money']}<br/>工作经验	{$value['job_years']}<br/>岗位职责：<br/>{$value['job_content']}</p>                            </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="padding-left:14px;display: none">
                                    <div class="job_a"><a href="#">投递简介</a></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                {/loop}
            </ul>
        </div>
        <script language="javascript">
            $(".job_list ul li").click(function () {
                if (this.className == "hauto") {
                    $(this).removeClass("hauto");
                }
                else {
                    $(this).addClass("hauto");
                }
            })
        </script>


    </div>
</div>
<!--正文end-->

{view name="Base/footer"}